<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<th:block th:fragment="setContent(content)">-->
<!--    <head>-->
<!--        <meta charset="utf-8">-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--        <meta name="description" content="">-->
<!--        <meta name="author" content="">-->

<!--        <title>Global buddy Community</title>-->

<!--        &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--&lt;!&ndash;        <link th:href="@{/css/.css}" rel="stylesheet">&ndash;&gt;-->

<!--&lt;!&ndash;         Bootstrap core JavaScript &ndash;&gt;-->
<!--        <link rel="stylesheet" th:href="@{/css/congif.reset.css}">-->
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">-->
<!--        <link rel="stylesheet" href="https://unpkg.com/mvp.css">-->

<!--        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>-->
<!--        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--    </head>-->

<!--    <body>-->
<!--    <div >-->
<!--        <nav>-->

<!--        </nav>-->
<!--        <th:block th:replace="${content}"></th:block>-->

<!--    <script>-->
<!--        // $("#menu-toggle").click(function (e) {-->
<!--        //     e.preventDefault();-->
<!--        //     $("#wrapper").toggleClass("toggled");-->
<!--        // });-->
<!--    </script>-->

<!--    </body>-->
<!--</th:block>-->
<!--</html>-->

